@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
:root{
    --primary-soft : #f3f3f3;

}
.nav-menu{

}
.nav-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-brand{
    position: sticky;
    top: 0px;
    background: white;

}
.menu-title{
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #949494;
}
.menu-item{
    transition: 0.5s;
    margin-bottom: 12px;
}
.menu-item:hover{
    background-color: var(--primary-soft );
    border-radius: 0.25rem;
}
.menu-item-link{
    display: flex;
    justify-content: space-between;
    color: var(--dark);
    padding: 10px;
    border-radius: 0.25rem;
}
.menu-item-link.active{
    background-color: var(--primary);
    color: white !important;
}
.menu-item-link:hover{
    text-decoration: none;
    color: var(--dark);
}

.menu-item-link span{

}
.menu-item-link i{

}
a{
    text-decoration: none;
}

.menu-spacer{
    padding: 10px 0;
}
.content{
    background-color: var(--primary-soft);
    overflow: scroll;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) inset;

}
.header{
    position: sticky;
    top: 0.2rem;
    z-index: 2000;
}
.card{
    border: none;
}
.item-card{

}
.item-card-img{

}
.status-card{
    transition: 0.3s;
}
.status-card:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 15px rgba(0,0,0,0.2) ;
}
.status-card:active{
    transform: scale(1.05);
    box-shadow: 0 0 3px rgba(0,0,0,0.2) ;
}
.vo-img{
    margin-left: -25px;
}
.item-carousel{
    margin-top: -100px;
}
.item-card-img{
    height: 200px;
}
.sub-list tr{
    transition: 0.5s;
    cursor: pointer;
}
.sub-list tr:active{
    transform: scale(1.02);
}

.table tr td {
    vertical-align: middle !important;
}

.front-panel-right-sidebar{
    position: sticky;
    top: 15px;
}

.post{
    transition: 0.5s;
}

.post:hover{
    transform: translateY(-5px);
    box-shadow: 0 0.325rem 0.75rem rgb(0 0 0 / 8%) !important;
    
}

.user-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.sidebar{
    overflow: scroll;
}
.show-sidebar-btn{
    cursor: pointer;
}
.full-screen-card{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2005;
    height: 100vh;
    overflow: scroll;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0;

    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #ffffff !important;

}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none;
    border-bottom: white !important;
    padding: 0;
    background-color: white !important;
    background: white !important;
    border: none !important;
}

@media screen and (max-width: 780px) {
    .sidebar{
        position: fixed;
        width: 300px;
        z-index: 2001;
        display: block !important;
        background: white;
        margin-left: -100%;
    }
    .item-carousel-card{
        margin-top: 100px;
    }
}